.top-bar {
  display: flex;
  width: 100%;
  background-color: #fff;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7.5rem;
  z-index: 100;
}

.logo-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30rem;
  margin-right: 3rem;
  margin-left: 1rem;
}

.hamburger-logo{
  width: 4rem;
  cursor: pointer;
}

.youtube-logo {
  width: 15rem;
  cursor: pointer;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  margin-right: 4.5rem;
}

.input-search {
  width:100%;
}

.search-input {
  display: block;
  width: 100%;
  min-width: 10rem;
  padding: 1.2rem 2rem;
  border: 1px solid #000;
  border-radius: 1.5rem;
}

.search-input::placeholder {
  font-size: 2rem;
}

.div-search {
  width: 4rem;
  position: relative;
  cursor: pointer;
}
.search-icon {
  width: 100%;
  object-fit: contain;
}

.search-label,
.upload-button-label,
.youtube-menu-label,
.notification-label{
  font-size: 1.5rem;
  color: white;
  background-color: gray;
  padding: 0.3rem 1rem;
  position: absolute;
  left: 0;
  display: none;
  margin-top: -0.5rem;
}

.div-search:hover .search-label,
.div-voice-search:hover .voice-search-label,
.upload-button:hover .upload-button-label,
.youtube-apps:hover .youtube-menu-label,
.notification-button:hover .notification-label {
  display: block;
}

.div-voice-search {
  width: 4rem;
  cursor: pointer;
}

.voice-search-label {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 0.2rem 1rem;
  font-size: 1.5rem;
  display: none;
  margin-top: -0.2rem;
}

.user-profile-section {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 3.5rem;
}

.upload-button {
  position: relative;
  margin-right: 2rem;
  cursor: pointer;
}

.upload-button-icon {
  width: 4rem;
  object-fit: cover;
}

.youtube-apps {
  position: relative;
  cursor: pointer;
}

.youtube-apps-button {
  width: 4rem;
}

.notification-button {
  position: relative;
  margin-left: 2rem;
  cursor: pointer;
}

.notification-button-icon {
  width: 4rem;
}