.side-bar {
  position: fixed;
  background-color: #fff;
  top: 7.5rem;
  left: 0;
  bottom: 0;
  width: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.sidebar {
  position: relative;
  width: 5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.sidebar-title {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  word-wrap: none;
}